[submodule "plugin"]
	path = plugin
	url = https://github.com/toppers/hakoniwa-unity-simasset-plugin.git
[submodule "third-party/UnityWebSocket"]
	path = third-party/UnityWebSocket
	url = https://github.com/yoshd/UnityWebSocket.git
